body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    background-color: red;
    padding: 15px;
    width: 100vw;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 2px solid black;
    height: 100vh;
}

section > div {
    padding-top: 40px;
}